.blog {
    padding-top: 4cm;
    width: auto;
    height: 649px;
    background-color: #0A192F;
    text-align: center;
    padding-inline: 3cm;
  }
  #caption {
    font-size: 2rem;
    text-align: center;
  }
  #text {
    margin-left: 5cm;
    width: 50%;
    text-align: justify;
    font-size: 1.5rem;
    color: #64FFDA;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
    .blog {
        padding-top: 4cm;
        width: auto;
        height: 914px;
        background-color: #000;
        text-align: center;
      }
      #text {
        font-size: 30pt;
      }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blog {
    padding-top: 5cm;
    width: auto;
    height: 412px;
  }
  #text {
    font-size: 35pt;
  }
}
