.icons {
    padding-left: 1.5cm;
    background-color: #0A192F;
    position: fixed;
}

#icongithub {
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-top: -18cm;
  }
#icongithub:hover {
    color: #64FFDA;
    margin-top: -18.1cm;
  }
  #iconlinkedin {
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-top: -17cm;
  }
  #iconlinkedin:hover {
    color: #64FFDA;
    margin-top: -17.1cm;
  }
  #iconinstagram {
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-top: -16cm;
  }
  #iconinstagram:hover {
    color: #64FFDA;
    margin-top: -16.1cm;
  }
  #icontelegram {
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-top: -15cm;
  }
  #icontelegram:hover {
    color: #64FFDA;
    margin-top: -15.1cm;
  }
  #iconfacebook {
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-top: -14cm;
  }
  #iconfacebook:hover {
    color: #64FFDA;
    margin-top: -14.1cm;
  }
  .mail {
    padding-right: 2cm;
    padding-left: 31cm;
    background-color: #0A192F;
    position: fixed;
  }
  #mail {
    transform: rotate(90deg);
    text-decoration: none;
    position: fixed;
    font-size: 0.9rem;
    color: #CCD6F6;
    margin-top: -7cm;
    font-family:'Courier New', Courier, monospace;
  }
  #mail:hover {
    color: #64FFDA;
    margin-top: -7.1cm;
  }

