.portfolio-page {
  padding-top: 4cm;
  width: auto;
  height: 1500px;
  background-color: #0A192F;
}
#header-portfolio {
  text-align: center;
  color: #64FFDA;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 0.5cm;
}
#project1 {
  width: 600px;
  margin-bottom: 1cm;
  margin-top: 1cm;
  margin-left: 1cm;
  position: absolute;
  border-radius: 25px;
}

#about-project {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 20cm;
  margin-right: 1cm;
  padding-bottom: 0cm;
  text-align: center;
  color: #CCD6F6;
  margin-top: 2cm;
  position: absolute;
}

#btn-source {
  position: absolute;
  margin-left: 22cm;
  width: 5cm;
  height: 1.5cm;
  font-weight: 700;
  font-size: 16pt;
  color: #64FFDA;
  background-color: #0A192F;
  border: 1px solid #64FFDA;
  margin-top: 6cm;
}
#btn-source:hover {
  color: #0A192F;
  background-color: #64FFDA !important;
}
#btn-demo {
  position: absolute;
  margin-left: 29cm;
  width: 5cm;
  height: 1.5cm;
  font-weight: 700;
  font-size: 16pt;
  color: #0A192F;
  background-color: #64FFDA;
  border: 1px solid #0A192F;
  margin-top: 6cm;
}
#btn-demo:hover {
  color: #64FFDA;
  background-color: #0A192F !important;
  border: #64FFDA 1px solid;
}

#project2 {
  margin-top: 12cm;
  width: 400px;
  margin-bottom: 1cm;
  margin-left: 16.5cm;
  position: absolute;
  border-radius: 25px;
}

#about-project2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 1cm;
  margin-right: 20cm;
  padding-bottom: 0cm;
  text-align: center;
  color: #fff;
  margin-top: 14cm;
  position: absolute;
  margin-bottom: 2cm;
  
}

#btn-source2 {
  position: absolute;
  margin-left: 1cm;
  width: 5cm;
  height: 1.5cm;
  font-weight: 700;
  font-size: 16pt;
  color: #64FFDA;
  background-color: #0A192F;
  border: 1px solid #64FFDA;
  margin-top: 16cm;
}
#btn-source2:hover {
  color: #0A192F;
  background-color: #64FFDA !important;
}
#btn-demo2 {
  position: absolute;
  margin-right: 0cm;
  margin-left: 8cm;
  width: 5cm;
  height: 1.5cm;
  font-weight: 700;
  font-size: 16pt;
  color: #0A192F;
  background-color: #64FFDA;
  border: 1px solid #0A192F;
  margin-top: 16cm;
}
#btn-demo2:hover {
  color: #64FFDA;
  background-color: #0A192F !important;
  border: #64FFDA 1px solid;
}

::-webkit-scrollbar {
  width: 5px;
  color: #0A192F;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #0A192F;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #CCD6F6;
  border-radius: 10px;
}


@media only screen and (min-width: 300px) and (max-width: 500px) {
  .portfolio-page {
    padding-top: 1cm;
    width: auto;
    height: 100%;
    padding-bottom: 21.5cm;
    background-color: #0A192F;
    color: #fff;
  }
  #header-portfolio {
    margin-top: 1cm;
    text-align: center;
    font-size: 1.2rem;
    color: #64FFDA;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-bottom: 0.5cm;
  }
  #project1 {
    width: 250px;
    margin-bottom: 1cm;
    position: absolute;
    margin-left: 1cm;
    margin-top: 4cm;
  }
  #about-project {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 2cm;
    margin-right: 2cm;
    padding-bottom: 0cm;
    text-align: center;
    color: #CCD6F6;
    margin-top: 0cm;
    font-size: 1rem;
  }

  #btn-source {
    margin-top: 7.5cm;
    margin-left: 1.5cm;
    width: 2cm;
    height: 1cm;
    font-weight: 500;
    font-size: 1rem;
    background-color: #0A192F;
    color: #64FFDA;
    border: #64FFDA 1px solid;
  }
  #btn-demo {
    margin-top: 7.5cm;
    margin-left: 5cm;
    width: 2cm;
    height: 1cm;
    font-weight: 500;
    font-size: 1rem;
    background-color: #64FFDA;
    color: #0A192F;
    border: #0A192F 1px solid;
  }

  #project2 {
    width: 250px;
    margin-bottom: 1cm;
    position: absolute;
    margin-left: 1cm;
    margin-top: 12cm;
  }

  #about-project2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 2cm;
    margin-right: 2cm;
    padding-bottom: 0cm;
    text-align: center;
    color: #CCD6F6;
    margin-top: 10cm;
    font-size: 1rem;
  }

  #btn-source2 {
    margin-top: 20cm;
    margin-left: 1.5cm;
    width: 2cm;
    height: 1cm;
    font-weight: 500;
    font-size: 1rem;
    background-color: #0A192F;
    color: #64FFDA;
    border: #64FFDA 1px solid;
  }
  #btn-demo2 {
    margin-top: 20cm;
    margin-left: 5cm;
    width: 2cm;
    height: 1cm;
    font-weight: 500;
    font-size: 1rem;
    background-color: #64FFDA;
    color: #0A192F;
    border: #0A192F 1px solid;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .portfolio-page {
    padding-top: 1cm;
    width: 100%;
    height: 1200px;
    background-color: #000;
    color: #fff;
  }
  #header-portfolio {
    margin-top: 1cm;
    text-align: center;
    color: greenyellow;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding-bottom: 0.5cm;
  }
  #project1 {
    width: 500px;
    margin-bottom: 1cm;
    position: absolute;
    margin-left: 0.2cm;
    margin-top: 1cm;
  }
  #about-project {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 14cm;
    margin-right: 1cm;
    padding-bottom: 0cm;
    text-align: center;
    color: #fff;
    margin-top: 3cm;
    font-size: 16pt;
  }

  #btn-source {
    margin-top: 6cm;
    margin-left: 15cm;
    width: 3cm;
    height: 1cm;
    font-weight: 500;
    font-size: 14pt;
    background-color: #fff;
    color: #000;
    border: #fff 1px solid;
  }
  #btn-demo {
    margin-top: 6cm;
    margin-left: 19cm;
    width: 3cm;
    height: 1cm;
    font-weight: 500;
    font-size: 14pt;
    background-color: rgb(255, 255, 28);
    color: blue;
    border: blue 1px solid;
  }
  
  #project2 {
    width: 450px;
    margin-bottom: 1cm;
    position: absolute;
    margin-left: 12cm;
    margin-top: 11cm;
  }
  #about-project2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 2cm;
    margin-right: 2cm;
    padding-bottom: 0cm;
    text-align: center;
    color: #fff;
    margin-top: 12cm;
    font-size: 16pt;
  }

  #btn-source2 {
    margin-top: 14cm;
    margin-left: 3cm;
    width: 3cm;
    height: 1cm;
    font-weight: 500;
    font-size: 14pt;
    background-color: #fff;
    color: #000;
    border: #fff 1px solid;
  }
  #btn-demo2 {
    margin-top: 14cm;
    margin-left: 7cm;
    width: 3cm;
    height: 1cm;
    font-weight: 500;
    font-size: 14pt;
    background-color: rgb(255, 255, 28);
    color: blue;
    border: blue 1px solid;
  }
}
