.about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 3cm;
    padding-bottom: 12.01%;
}
#aboutphoto {
    width: 250px;
    max-width: none;
    margin-top: 1cm;
    border-radius: 5px;
    margin-left: 21cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }

#aboutme {  
  color: #CCD6F6;
    margin-top: -7cm;
    margin-right: 21cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 2cm;
    text-align: center;
    position: absolute;    
  }
  #interest {
    color: #CCD6F6;
    display: flex;
    position: absolute;
    margin-left: 3cm;
    margin-top: -4cm;
  }
  #skills {
    color: #CCD6F6;
    display: flex;
    position: absolute;
    margin-left: 3cm;
    margin-top: -1cm;
  }

  #skills p {
    margin-left: 2cm;
  }

  @media screen and (min-width: 300px) and (max-width: 500px) {
    .about-page{
      background-color: #0A192F !important; 
      width: auto;
      height: 100%;
      padding-top: 1cm;
      padding-bottom: 25.15cm;
  }
  #aboutphoto {
      width: 150px;
      max-width: none;
      position: absolute;
      margin-top: 10cm;
      border-radius: 5px;
      margin-left: 2cm;
      margin-right: 1cm;
      box-sizing: border-box;   
      border: #64FFDA 2px solid;
    }
  
  #aboutme {  
    font-size: 1rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
    }
    #interest {
      font-size: 0.8rem;
      color: #CCD6F6;
      margin-left: 1cm;
      margin-right: 1cm;
      margin-top: 4cm;
    }
    #skills {
      font-size: 0.8rem;
      color: #64FFDA;
      display: flex;
      margin-left: 1cm;
      margin-right: 1cm;
      margin-top: 6cm;
    }
  }

@media screen and (min-width: 500px) and (max-width: 650px) {
  .about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 1cm;
    padding-bottom: 25.15cm;
  }
  #aboutphoto {
    width: 200px;
    max-width: none;
    position: absolute;
    margin-top: 10cm;
    border-radius: 5px;
    margin-left: 4.5cm;
    margin-right: 1cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }
  
  #aboutme {  
    font-size: 1.2rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
  }
  #interest {
    font-size: 1rem;
    color: #CCD6F6;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
  }
  #skills {
    font-size: 1rem;
    color: #64FFDA;
    display: flex;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 6cm;
}
}

@media screen and (min-width: 650px) and (max-width: 768px) {
  .about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 1cm;
    padding-bottom: 25.15cm;
  }
  #aboutphoto {
    width: 220px;
    max-width: none;
    position: absolute;
    margin-top: 10cm;
    border-radius: 5px;
    margin-left: 7cm;
    margin-right: 1cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }
  
  #aboutme {  
    font-size: 1.3rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
  }
  #interest {
    font-size: 1.1rem;
    color: #CCD6F6;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
  }
  #skills {
    font-size: 1.1rem;
    color: #64FFDA;
    display: flex;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 6cm;
}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 1cm;
    padding-bottom: 25.15cm;
  }
  #aboutphoto {
    width: 250px;
    max-width: none;
    position: absolute;
    margin-top: 12cm;
    border-radius: 5px;
    margin-left: 9cm;
    margin-right: 1cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }
  
  #aboutme {  
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
  }
  #interest {
    font-size: 1.3rem;
    color: #CCD6F6;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
  }
  #skills {
    font-size: 1.3rem;
    color: #64FFDA;
    display: flex;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 7cm;
}
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 1cm;
    padding-bottom: 25.15cm;
  }
  #aboutphoto {
    width: 270px;
    max-width: none;
    position: absolute;
    margin-top: 12cm;
    border-radius: 5px;
    margin-left: 11cm;
    margin-right: 1cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }
  
  #aboutme {  
    font-size: 1.7rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
  }
  #interest {
    font-size: 1.5rem;
    color: #CCD6F6;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
  }
  #skills {
    font-size: 1.5rem;
    color: #64FFDA;
    display: flex;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 7cm;
}
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  .about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 1cm;
    padding-bottom: 25.15cm;
  }
  #aboutphoto {
    width: 300px;
    max-width: none;
    position: absolute;
    margin-top: 14cm;
    border-radius: 5px;
    margin-left: 13cm;
    margin-right: 1cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }
  
  #aboutme {  
    font-size: 2rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
  }
  #interest {
    font-size: 1.8rem;
    color: #CCD6F6;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
  }
  #skills {
    font-size: 1.8rem;
    color: #64FFDA;
    display: flex;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 8cm;
}
}

@media screen and (min-width: 1200px) {
  .about-page{
    background-color: #0A192F !important; 
    width: auto;
    height: 100%;
    padding-top: 1cm;
    padding-bottom: 30cm;
  }
  #aboutphoto {
    width: 350px;
    max-width: none;
    position: absolute;
    margin-top: 17cm;
    border-radius: 5px;
    margin-left: 13cm;
    margin-right: 1cm;
    box-sizing: border-box;   
    border: #64FFDA 2px solid;
  }
  
  #aboutme {  
    font-size: 2.5rem;
    color: #CCD6F6;
    margin-top: 2cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    text-align: center;  
  }
  #interest {
    font-size: 2.3rem;
    color: #CCD6F6;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 4cm;
  }
  #skills {
    font-size: 2.3rem;
    color: #64FFDA;
    display: flex;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 10cm;
}
}
  
