.about-page{
    background-color: black !important; 
    color: white;
    width: auto;
    height: 100%;
    padding-top: 3cm;
    padding-bottom: 15%;
}
#aboutphoto {
    width: 350px;
    margin-top: 1cm;
    border-radius: 20px;
    margin-left: 21cm;
    z-index: -1;
    box-sizing: border-box;    
  }
#me {
    text-align: center;
    color: greenyellow;
}
#aboutme {
    margin-top: -7cm;
    margin-right: 21cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 2cm;
    margin-bottom: 5cm;
    text-align: center;
    position: absolute;    
  }
  .contact {
    margin-top: 1cm;
  }
  ::-webkit-scrollbar {  
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: greenyellow;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
  }
  
  @media screen and (max-width: 768px) {
    .about-page{
      background-color: black;
      color: white;
      width: 100%;
      height: 1000px;
      padding-top: 2cm;
      padding-bottom: 100%;
  }
  #aboutphoto {
    width: 200px;
    margin-top: 10px;
    border-radius: 20px;
    z-index: -1;
    box-sizing: border-box;  
    margin-bottom: 10px;
    margin-left: 3cm;
  }
  #aboutme {
    margin-top: 0cm;
    margin-right: 1cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 1cm;
    margin-bottom: 10cm;
    text-align: center;
    position: absolute;
  }
  .contact {
    margin-top: 6cm;
  }
  ::-webkit-scrollbar {  
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: greenyellow;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
  }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .about-page{
      background-color: black;
      color: white;
      width: 100%;
      height: auto;
      padding-top: 3cm;
      padding-bottom: 100px;
  }
  #aboutphoto {
    width: 250px;
    margin-top: 10px;
    border-radius: 20px;
    z-index: -1;
    box-sizing: border-box;  
    margin-bottom: 10px;
    margin-left: 36%;
    
  }
  #aboutme {
    margin-top: 0cm;
    margin-right: 2cm;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-left: 2cm;
    margin-bottom: 10cm;
    text-align: center;
    position: absolute;
  }
  .contact {
    margin-top: 3cm;
    display: flex;
    align-items: center;
  }
  }