.blog {
    padding-top: 4cm;
    width: auto;
    height: 649px;
    background-color: #000;
    text-align: center;
  }
  #text {
    font-size: 40pt;
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
    .blog {
        padding-top: 4cm;
        width: auto;
        height: 914px;
        background-color: #000;
        text-align: center;
      }
      #text {
        font-size: 30pt;
      }
}