.nav {
  text-align: right;
  text-decoration: none !important;
  background-color: #0A192F !important;
  padding: 20px;
  padding-top: 35px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  position: fixed;
  z-index: 1;
}
#names {
  color: #64FFDA;
  margin-left: 2cm;
  margin-right: 20cm;
  font-size: 1.5rem;
  text-decoration: none;
}
#blog {
  color: #CCD6F6;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 1cm;
}
#blog:hover {
  color: #64FFDA;
}
#portfolio {
  color: #CCD6F6;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 1cm;
}
#portfolio:hover {
  color: #64FFDA;
}
.about {
  margin-right: 1cm;
  color: #CCD6F6;
  font-size: 1rem;
  text-decoration: none;
}
.about:hover {
  color: #64FFDA;
}
#resume {
  margin-top: -8px;
  color: #64FFDA;
  background-color: #0A192F;
  border: 1px solid #64FFDA;
}
#resume:hover {
  color: #0A192F;
  background-color: #64FFDA !important;
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: 0A192F;
    padding: 5px;
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    width: 768px;
  }
  #names {
    color: #64FFDA;
    margin-left: 10px;
    margin-right: 1cm;
    font-size: 0.8rem;
    text-decoration: none;
  }
  #blog {
    margin-left: -5px;
    color: #64FFDA;
    font-size: 0.5rem;
    text-decoration: none;
    margin-left: 0cm;
  }
  #portfolio {
    margin-left: -5px;
    color: #64FFDA;
    font-size: 0.5rem;
    text-decoration: none;
    margin-left: 0cm;
  }
  .about {
    margin-left: -5px;
    color: #64FFDA;
    font-size: 0.5rem;
    text-decoration: none;
  }
  #resume {
    margin-left: -5px;
    font-size: 0.5rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}
@media screen and (min-width: 500px) and (max-width: 650px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: 0A192F;
    padding: 5px;
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    width: 768px;
  }
  #names {
    color: #64FFDA;
    margin-left: 10px;
    margin-right: 3.5cm;
    font-size: 1rem;
    text-decoration: none;
  }
  #blog {
    color: #64FFDA;
    font-size: 0.6rem;
    text-decoration: none;
    margin-left: 0cm;
  }
  #portfolio {
    color: #64FFDA;
    font-size: 0.8rem;
    text-decoration: none;
    margin-left: 0cm;
  }
  .about {
    color: #64FFDA;
    font-size: 0.8rem;
    text-decoration: none;
  }
  #resume {
    font-size: 0.8rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: 0A192F;
    padding: 5px;
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    width: 768px;
  }
  #names {
    color: #64FFDA;
    margin-left: 10px;
    margin-right: 7cm;
    font-size: 1rem;
    text-decoration: none;
  }
  #blog {
    color: #64FFDA;
    font-size: 0.6rem;
    text-decoration: none;
    margin-left: 0cm;
  }
  #portfolio {
    color: #64FFDA;
    font-size: 0.8rem;
    text-decoration: none;
    margin-left: 0cm;
  }
  .about {
    color: #64FFDA;
    font-size: 0.8rem;
    text-decoration: none;
  }
  #resume {
    font-size: 0.8rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: #0A192F;
    padding: 5px;
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
  }
  #names {
    color: #64FFDA;
    margin-left: 1cm;
    margin-right: 8cm;
    font-size: 1.2rem;
    text-decoration: none;
  }
  #blog {
    color: #64FFDA;
    font-size: 1rem;
    text-decoration: none;
  }
  #portfolio {
    color: #64FFDA;
    font-size: 1rem;
    text-decoration: none;
  }
  .about {
    color: #64FFDA;
    font-size: 1rem;
    text-decoration: none;
  }
  #resume {
    font-size: 1rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}

  @media screen and (min-width: 992px) and (max-width: 1023px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: #0A192F;
    padding: 5px;
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
  }
  #names {
    color: #64FFDA;
    margin-left: 1cm;
    margin-right: 12cm;
    font-size: 1.2rem;
    text-decoration: none;
  }
  #blog {
    color: #64FFDA;
    font-size: 1rem;
    text-decoration: none;
  }
  #portfolio {
    color: #64FFDA;
    font-size: 1rem;
    text-decoration: none;
  }
  .about {
    color: #64FFDA;
    font-size: 1rem;
    text-decoration: none;
  }
  #resume {
    font-size: 1rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: #0A192F;
    padding: 5px;
    padding-top: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
  }
  #names {
    color: #64FFDA;
    margin-left: 1cm;
    margin-right: 19cm;
    font-size: 1.5rem;
    text-decoration: none;
  }
  #blog {
    color: #64FFDA;
    font-size: 1.2rem;
    text-decoration: none;
  }
  #portfolio {
    color: #64FFDA;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .about {
    color: #64FFDA;
    font-size: 1.2rem;
    text-decoration: none;
  }
  #resume {
    font-size: 1.2rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}
  @media screen and (min-width: 1200px) {
  .nav {
    text-align: right;
    text-decoration: none;
    background-color: #0A192F;
    padding: 5px;
    padding-top: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
  }
  #names {
    color: #64FFDA;
    margin-left: 1cm;
    margin-right: 17cm;
    font-size: 2rem;
    text-decoration: none;
  }
  #blog {
    color: #64FFDA;
    font-size: 1.5rem;
    text-decoration: none;
  }
  #portfolio {
    color: #64FFDA;
    font-size: 1.5rem;
    text-decoration: none;
  }
  .about {
    color: #64FFDA;
    font-size: 1.5rem;
    text-decoration: none;
  }
  #resume {
    font-size: 1.5rem;
    margin-top: -8px;
    color: #64FFDA;
    background-color: #0A192F;
    border: 1px solid #64FFDA;
  }
}